.App {
  text-align: center;
}
.app-title-header {
  float: left;
  color: red;
  margin-left: 20px;
  font-family: 'Bradley Hand', cursive;
  font-weight: bolder;
}
.link-to-saverecipe {
  float: right;
}
.main-header {
  height: 50px;
  border-bottom: solid 1px #ccc;
}
.main-header a {
  margin-right: 10px;
  margin-right: 40px;
}
.main-header a:hover {
  text-decoration: underline;
  color: red;
  text-decoration: none;

}
.main-header a {
 color: rgb(117, 117, 117);
 padding: 6px;
 float: right;
 font-weight: bold;
}
.footer a {
  margin: 20px;
  color: rgb(117, 117, 117);
  padding: 6px;
  font-weight: bold;

}