.header {
    width: 100%;
    height: 30px;
}
#App-Name {
    font-size: 7vw;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}
.homepage-header {
    background-image: url('./brooke-lark-385507-unsplash.jpg');
    background-size: cover;
    height: 150vh;
}
.main-content {
    width: 100%;
    height: 300px;
}
.about-content {
    width: 100%;
    height: 300px;
}
.other-div{
    width: 100%;
    height: 300px;
    background-color: rgb(74, 74, 252);
}
.Landingpage-container {
    position: relative;
}
.text-block {
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate( -50%, -50% );
    text-align: center;
    color: rgb(56, 55, 55);
    font-family: Helvetica, sans-serif;  
}
.text-block h1 {
    font-weight: bolder;
}
.tiles {
    max-width: 100%;
    margin: 0 auto;
    background-color: bisque;
}
.tile {
    justify-content: center;
    margin: 30px;
    padding: 20px;
    display: inline-block;
    margin-top: 60px;
}
@media (max-width: 700px) {
    .tile {
        width: 80%;
    }
}
Button {
    margin: 0 10px;
}

#introduction-row {
    height: 150px;
}
#introduction-left {
    top: 50%;
}
#introduction-right {
    top: 50%;
}
.introduction {
    height: 300px;
}
@media (max-width: 320px) {
    .tiles {
        width: 100%;
    }
}
@media (max-width: 900px) {
    #App-Name, #App-Name-Subtitle {
        font-size: 200%;
    } .text-block {
        top: 50%;  
    }
}
@media (max-width: 600px) {
    #App-Name, #App-Name-Subtitle {
        font-size: 150%;
    } .text-block {
        top: 50%;
    }
}
