.Login-background {
    background-color:rgb(245, 245, 245);
}
.login-tile {
    border: 0.5px solid rgb(194, 194, 194);
    border-radius: 5px;
    padding: 20px; 
    width: 30%;
    margin: 20px auto;
    background-color: white;
}
h6 {

    width: 100px;
    padding: 21.5px;
    background-color: rgb(255, 196, 86);
    border-radius: 50%;
    margin: auto;
    font-family: serif;
    font-weight: bold;
}
.login-icon {
    margin-bottom: 10px;
}
.login-tile h5 {
    color: rgb(126, 126, 126);
}






