.login-backgroundimage {
    max-width: 40%;
    height: auto;
    border-radius: 5%;
    float: left;
}
.login-tile {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px; 
}
h6 {
    width: 100px;
    padding: 21.5px;
    background-color: rgb(255, 196, 86);
    border-radius: 50%;
    margin: auto;
    font-family: serif;
    font-weight: bolder;
    color: black;
}
.login-icon {
    margin-bottom: 10px;
}





