.api-header a {
    display: block;
    float: left;
}
.searchRecipes {
    margin-top: 100px;
}
.apiRecipeCard {
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
